@charset "UTF-8";
#member_list_header{ height: 100px; text-align: center;}
#member_list_wrapper{}
#member_list_table{width: 80px; margin: 180px 0px 0px 0px;}
#member_list_table tr td{ border: 1px solid;}
#member_list_aside{ padding:20px; margin-left: 100px; width : 200px; height : 550px;
 float: left; border: 1px solid grey; text-align: left;}
#member_list_section{padding : 20px;border: 2px solid; width: 1000px; height: 550px; float: left; margin-left: 100px; text-align: left;}
#member_list_button{ text-aligh : right;}
#member_list_btn{width:100px ;font-size:15px; margin: 0 90%;}
#member_list_input{width:50%; height:30%; margin:left;}